/* CUSTOM STYLES */
nav {
  background-image: repeating-linear-gradient(#ffcc66, #f45342);
  padding: 20px 0;

}

nav a {
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: monospace;
}

nav a:hover {
  color: yellow;
}

.zipcode{
  padding-right: 10px;
  font-size: 25px;
}

.jacketWidget{
  border: 2px solid black;
  margin: 25px 100px;
  background-color: #ffcc66;
  
}

.description{
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 25px;
  background-color: #ffcc66;
}

.weatherWidget{
  border: 2px solid black;
  margin: 25px 100px;
  background-color: #ffcc66;
  padding: 10px;
  

}

.outfit { 
  border: 2px solid black;
  padding: 10px;
  margin: 25px 100px;
  background-color: #ffcc66;
}

.outfit img{
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #f45342;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.footer-text {
  color: black;
  font-size: 10px;
}

.space {
  margin: 15px 0;
}

.btn-primary {
  color: #fff;
  background-image:linear-gradient(#ff3300, yellow, grey);
  border-radius: 2px;
  border: none;
  padding: 3px;
}

.btn-primary:hover {
  background-color: #77f;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}
.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(#f45342, #ffcc66);

}

.App-title {
  font-size: 50px;
  font-family: monospace;


}

.App-intro {
  font-size: large;
}
