body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX0e-PXRxKPPX1SBv2_0QhO8oVHIBB-egQTY5-gRL9FheULjWI')
}
